.btn{
    position: fixed;
    top: 50%;
    left: 50%;
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    transition: 0.5s;
    overflow: hidden;
    cursor: pointer;
    background: lightblue;
}
.wrapper{
    height: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon{
    height: 50%;
    display: flex;
    align-items: center;
    transition: 0.5s;
    background: none;
}
.text{
    height: 50%;
    display: flex;
    align-items: center;
    transition: 0.5s;
    background: none;
}
.btn:hover{
    width: 250px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.btn:hover .icon, .btn:hover .text{
    transform: translateY(-100%);
}
.title{
    text-align: center;
}
.subtitle{
    color: red;
}
.aisanam {
    font-size: 50px;
    border: 2px solid black;
    color: red;
    text-transform: uppercase;
    text-decoration: none;
    transition: background , .1s linear, color .1s linear;
}

.aisanam:hover {
     background-color: hotpink;
     color: white;
 }